<form>
    <div class="row">
        <div class="small-12 columns">
            <label>Location
              {{input type="text" value=model.location}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <label>Title
              {{input type="text" value=model.title}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
          <button {{action 'submit'}}>Add Mah Cat!</button>
        </div>
    </div>
</form>