<div class="row">
    <div class="columns small-12">
      {{#link-to 'gifs'}}Go Back{{/link-to}}
    </div>
</div>
<div class="row">
    <div class="columns small-12">
        <img class="cat-gif-center" src="{{model.location}}" alt="{{model.title}}"/>
    </div>
</div>

