<div class="row">
    <div class="columns small-12">
        {{outlet}}
    </div>
</div>
<div class="row">
    <div class="columns small-12">
        <p>Cats are pretty cool.</p>
        {{#link-to 'gifs.new'}}I want to add a new cat gif.{{/link-to}}
    </div>
</div>
